/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

body {
  @apply font-sans;
  background-color: #f5f6fa;
  color: #344675;
}

/* set up typography */
h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}

/* set up some default styles */
button {
  @apply bg-blue-500;
  @apply text-white;
  @apply font-bold;
  @apply py-2;
  @apply px-4;
  @apply rounded;
}
button:hover {
  @apply bg-blue-700
}

/* postcss nested enabled */
.home {
  h1 {
    @apply text-red-500;
    font-weight: 700;
  }
}
